.display {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 2rem;

  margin: 0 auto;

  &-pseudo {
    width: 50%;
    margin-left: 8rem;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
    &-comment {
      background-color: var(--secondary-color);
      margin: 1rem;
      border-radius: 5rem;
      p:first-child {
        color: var(--primary-color);
      }

      p {
        text-align: left;
        margin-left: 4rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

}
