button {
  font-size: 1.6rem;
  width: auto;
  padding: 0.125rem 1rem;
  height: 3.5625rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;

  background-color: var(--primary-color);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-white);
    color: var(--primary-color);
  }
}
