:root {

    --body-color: #f4f4f4;

    --primary-color: #f40b88;
    --nav-color: #f72395;
    --secondary-color: rgb(222, 212, 219);
    --header-color: #e9c5da;
    --shadow-color: #e9c5da;
    --links-color: $heading-color;
    --links-color: yellow;
    --sub-heading-color: #f4f4f4;
    --color-white: #ffffff;
    --footer-color: #333;
    --gris: #666666; //font
    --Body-font: "Shippori Mincho B1", Helvetica, sans-serif; //taille
    --font-size-small: 1rem;
    --padding-xs: 1rem;
    --small-radius: 2rem;
    --height-one: 1rem;
    --height-two: 2rem;
    --border-lg: 2px solid #ccc;
    --fontt-size-body: 1.6rem;
    --font-size-h1: 2rem;
}
