.search {
  background-color: #faf7f7; // padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      font-size: 2rem;
      width: 10%; //padding: 0.5rem rem; 
      background-color: transparent;

    }
    input {
      width: 90%;
      outline: transparent;
      border-color: transparent;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      background-color: transparent;


    }
  }
}

@media screen and (max-width: 667) {
  .search {
    display: none;
  }
}
